.changa-one-bold {
  font-family: "Changa One", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 500;
  font-style: normal;
}
