html,
body {
  overscroll-behavior: none;
}

:root {
  --primary: #254128;
  --secondary: #cd6184;
  --terciary: #fad8db;
  --muted: #fffefb;
  --background: #fffefb;
  --foreground: #242424;
}

.container {
  display: block;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(242, 238, 238);
}

input[type="file"]::file-selector-button {
  background: #207960;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.open-menu {
  background: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 800;
  cursor: pointer;
  color: black;
  position: fixed;
  left: 1.2rem;
  top: 1.2rem;
}

.is-hidden {
  display: none;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100vh;
  background: white;
  border: 1px solid #eaeaea;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  padding: 1rem;
  transition: left 0.3s ease;
  z-index: 2000;
}

.side-menu.open {
  left: 0;
}

.close-menu {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.mobile-nav {
  display: none;
}

@media (min-width: 200px) and (max-width: 490px) {
  .donation-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

@media (min-width: 491px) {
  .donation-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (max-width: 670px) {
  .side-menu,
  .open-menu {
    display: none;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 7px;
    width: 100%;
    background: #f5f5f5;
    color: white;
    box-shadow: 0 -2px 8px rgba(24, 23, 23, 0.2);
    z-index: 1000;
    margin: auto;
    flex-grow: 1;
    justify-content: space-around;
  }

  .donation-menu-button {
    flex-grow: 1;
    height: full;
  }
}
